<!--Budget Page-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Budget</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Add New Budget -->
  <ion-item>
    <ion-label position="stacked">Add New Budget Criteria</ion-label>
    <ion-input name="budget" id="budget" [(ngModel)]="budget" (keyup.enter)="addBudget($event.target.value)"></ion-input>
  </ion-item>
  <br><br>
  <!--List of budgets -->
  <ion-item-divider color="light">
    <ion-label>
      List of Budgets
    </ion-label>
  </ion-item-divider>
  <ion-list>
    <div *ngFor="let source of budgets; let i = index">
        <ion-item >
          <ion-label>{{source.value}}</ion-label>
          <ion-toggle [checked]="source.enabled" (ionChange)='onChangeStatus(i, source.enabled)'></ion-toggle>

        </ion-item>
    </div>
      </ion-list>
</ion-content>
