<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lease/Rent Enquiry Form</ion-title>
    <ion-button slot="end" (click) = "dismiss()">
      Close( X )
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h6 class="ion-padding">Lead entry Input details for Lease / Rent</h6>
  <hr />
  <form
    #form="ngForm"
    (ngSubmit)="submitForm(form)"
    method="post"
    class="ion-padding"
  >
    <ion-item class="call-back-form">
      <!-- <ion-label position="floating">Full Name</ion-label> -->
      <ion-label position="floating">Client Name</ion-label>
      <ion-input type="text" ngModel name="name"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Contact Number1</ion-label>
      <ion-input type="tel" ngModel name="contactNumber1"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Contact Number2</ion-label>
      <ion-input type="tel" ngModel name="contactNumber2"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Email Id</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" ngModel name="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enquiry Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" ngModel name="enquiryDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Call Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" ngModel name="lastCallDate"></ion-datetime>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Enquiry Source</ion-label>
      <ion-input type="text" ngModel name="enquirySource"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Purpose</ion-label>
      <ion-input type="text" ngModel name="purpose"></ion-input>
    </ion-item>
    <ion-list>
      <ion-list-header>
        <ion-label>
           Property Type Requirement
        </ion-label>
      </ion-list-header>
    <ion-item class="call-back-form" name="requirement">

      <ion-select placeholder="Select type">
        <ion-select-option value="duplex">Duplex</ion-select-option>
        <ion-select-option value="1bhk">1 BHK</ion-select-option>
        <ion-select-option value="2BHK">2 BHK</ion-select-option>
        <ion-select-option value="3BHK">3 BHK</ion-select-option>
        <ion-select-option value="land">Land</ion-select-option>
        <ion-select-option value="farmhouse">Farm House</ion-select-option>
        <ion-select-option value="others">Others</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="floating">Next Call Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" ngModel name="nextCallDate"></ion-datetime>
    </ion-item>
    <ion-list>
      <ion-radio-group >
        <ion-list-header>
          <ion-label>Priority</ion-label>
        </ion-list-header>

        <ion-item class="call-back-form" name="hot">
          <ion-label>Hot</ion-label>
          <ion-radio slot="start" value="hot"></ion-radio>
        </ion-item>

        <ion-item class="call-back-form" name="cold">
          <ion-label>Cold</ion-label>
          <ion-radio slot="start" value="cold"></ion-radio>
        </ion-item>
        <ion-item class="call-back-form" name="warm">
          <ion-label>Warm</ion-label>
          <ion-radio slot="start" value="warm"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item class="call-back-form">
      <ion-label position="floating">Preferred Location 1</ion-label>
      <ion-input type="text" ngModel name="pl1"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Preferred Location 2</ion-label>
      <ion-input type="text" ngModel name="pl2"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Budget</ion-label>

      <ion-range color="primary" min="30" max="80"  pin="true" name="range"></ion-range>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Interested Project 1</ion-label>
      <ion-input type="text" ngModel name="ip1"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Interested Project 2</ion-label>
      <ion-input type="text" ngModel name="ip2"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Furnishing Preference</ion-label>
      <ion-input type="text" ngModel name="furnishingPref"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Duration</ion-label>
      <ion-input type="text" ngModel name="duration"></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group >
        <ion-list-header>
          <ion-label>Site Visited ?</ion-label>
        </ion-list-header>

        <ion-item class="call-back-form" name="yes">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
        </ion-item>

        <ion-item class="call-back-form" name="no">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
    <ion-item class="call-back-form">
      <ion-label position="floating">Site Visit By Employee</ion-label>
      <ion-input type="text" ngModel name="siteVisitBy"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Site Visited Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" ngModel name="siteVisitDate"></ion-datetime>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Remarks</ion-label>
      <ion-input type="text" ngModel name="remarks"></ion-input>
    </ion-item>


    <ion-button type="submit" expand="full" color="success">Submit</ion-button>
  </form>
  <!-- <ion-button expand="full" color="primary" (click)="loginModal()">Login to Camp</ion-button> -->
</ion-content>
