<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Project Details</ion-title>
    <ion-button slot="end" (click) = "dismiss()">
      Close( X )
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h6 class="ion-padding">Input Details for the Project</h6>
  <hr />
  <form
    #form="ngForm"
    (ngSubmit)="submitForm(form)"
    method="post"
    class="ion-padding"
  >
    <ion-item class="call-back-form">
      <ion-label position="floating">Name of the Project</ion-label>
      <ion-input type="text" ngModel name="name"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text" ngModel name="location"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Promoter Name</ion-label>
      <ion-input type="text" ngModel name="promoterName"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Concerned Person From Promoter Side</ion-label>
      <ion-input type="text" ngModel name="cPrometer"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Contact Number of Concerned Person</ion-label>
      <ion-input type="text" ngModel name="numberCP"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Designation of Concerned Person</ion-label>
      <ion-input type="text" ngModel name="designationCP"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Email Id</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Rera Approval Number</ion-label>
      <ion-input type="number" ngModel name="reraNumber"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Land Area</ion-label>
      <ion-input type="text" ngModel name="landArea"></ion-input>
    </ion-item>
    <!-- this has to be dropdown -->
    <ion-list>
      <ion-list-header>
        <ion-label>
          Type
        </ion-label>
      </ion-list-header>
    <ion-item class="call-back-form" name="type">

      <ion-select placeholder="Select Type">
        <ion-select-option value="duplex">Duplex</ion-select-option>
        <ion-select-option value="flat">Flat</ion-select-option>

      </ion-select>
    </ion-item>
    </ion-list>
    <ion-item class="call-back-form">
      <ion-label position="floating">No. of Units</ion-label>
      <ion-input type="number" ngModel name="unitsNumber"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">No. of Floors</ion-label>
      <ion-input type="number" ngModel name="floorsNumber"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Facilities</ion-label>
      <ion-input type="text" ngModel name="facilities"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Amenities</ion-label>
      <ion-input type="text" ngModel name="amenities"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Stage Of Construction</ion-label>
      <ion-input type="text" ngModel name="constructionPhase"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Proposed Date Of Completion</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY" ngModel name="proposedDateCompletion"></ion-datetime>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Payment Schedule</ion-label>
      <ion-input type="text" ngModel name="paymentSchedule"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Distance From Prominent Locations</ion-label>
      <ion-input type="text" ngModel name="distanceFromLocations"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Furnishing Details(If Any)</ion-label>
      <ion-input type="text" ngModel name="furnishingDetails"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Other Details</ion-label>
      <ion-input type="text" ngModel name="otherDetails"></ion-input>
    </ion-item>
    <!-- Todo: Upload Brochure & Views -->
    <!-- Todo: Upload Present Pics -->
    <ion-item class="call-back-form">
      <ion-label position="floating">Price Calculation</ion-label>
      <ion-input type="text" ngModel name="priceCalc"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" color="success">Submit</ion-button>
  </form>
</ion-content>
