<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Property Details</ion-title>
    <ion-button slot="end" (click) = "dismiss()">
      Close( X )
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h6 class="ion-padding">Input Details for the Property</h6>
  <hr />
  <form
    #form="ngForm"
    (ngSubmit)="submitForm(form)"
    method="post"
    class="ion-padding"
  >
    <ion-item class="call-back-form">
      <ion-label position="floating">Type of the Property</ion-label>
      <ion-input type="text" ngModel name="name"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text" ngModel name="location"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Owner's Name</ion-label>
      <ion-input type="text" ngModel name="ownersName"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="text" ngModel name="contactNumber"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Contact Persons Name</ion-label>
      <ion-input type="text" ngModel name="ContactPN"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Contact Persons Number</ion-label>
      <ion-input type="text" ngModel name="ContactPNumber"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Email Id</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Age of Property</ion-label>
      <ion-input type="number" ngModel name="propertyAge"></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group >
        <ion-list-header>
          <ion-label>Ownership</ion-label>
        </ion-list-header>

        <ion-item class="call-back-form">
          <ion-label>Lease Hold</ion-label>
          <ion-radio slot="start" value="lease"></ion-radio>
        </ion-item>

        <ion-item class="call-back-form">
          <ion-label>Free Hold</ion-label>
          <ion-radio slot="start" value="free"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
    <!-- this has to be dropdown -->
    <ion-list>
      <ion-list-header>
        <ion-label>
          If Lease
        </ion-label>
      </ion-list-header>
    <ion-item class="call-back-form">

      <ion-select placeholder="Select One">
        <ion-select-option value="bda">BDA</ion-select-option>
        <ion-select-option value="ga">GA</ion-select-option>
        <ion-select-option value="hb">Housing Board</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <ion-item class="call-back-form">
      <ion-label position="floating">Duplex</ion-label>
      <ion-input type="text" ngModel name="duplexDetails"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Flat</ion-label>
      <ion-input type="text" ngModel name="flatDetails"></ion-input>
    </ion-item>
    <ion-list>
      <ion-list-header>
        <ion-label>
          Direction of Facing
        </ion-label>
      </ion-list-header>
    <ion-item class="call-back-form">

      <ion-select placeholder="Select Direction">
        <ion-select-option value="north">North</ion-select-option>
        <ion-select-option value="south">South</ion-select-option>
        <ion-select-option value="east">East</ion-select-option>
        <ion-select-option value="east">West</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <ion-item class="call-back-form">
      <ion-label position="floating">Furnishing Details(If Any)</ion-label>
      <ion-input type="text" ngModel name="furnishingDetails"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Property Is Vacant or Occupied ?</ion-label>
      <ion-input type="text" ngModel name="occupancyDetails"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Rental Income(If Any)</ion-label>
      <ion-input type="text" ngModel name="rentailIncome"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Time required to Vacant the Property</ion-label>
      <ion-input type="text" ngModel name="timeToVacate"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Home Loan on the Property</ion-label>
      <ion-input type="text" ngModel name="homeLoanInformation"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Society Charges(If Any)</ion-label>
      <ion-input type="text" ngModel name="societyMaintenance"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Price</ion-label>
      <ion-input type="text" ngModel name="price"></ion-input>
    </ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">Suitable Time to Visit Property</ion-label>
      <ion-datetime placeholder="Select Date" displayFormat="DD-MMM-YYYY-HH:mm"></ion-datetime>
</ion-item>
    <ion-item class="call-back-form">
      <ion-label position="floating">List Of papers available with the Owner</ion-label>
      <ion-input type="text" ngModel name="papersList"></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group >
        <ion-list-header>
          <ion-label>Are All Papers and Approvals Done ?</ion-label>
        </ion-list-header>

        <ion-item class="call-back-form">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
        </ion-item>

        <ion-item class="call-back-form">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
    <ion-item class="call-back-form">
      <ion-label position="floating">Other Terms of the Owner</ion-label>
      <ion-input type="text" ngModel name="otherTerms"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" color="success">Submit</ion-button>
  </form>
</ion-content>
